.page {
    font-family: "CircularStd-Medium";
    font-size: 16px;
    color: #6C6C6C;
    padding: 2px;
    width: 24px;
    text-align: center;
    border: 1px solid #6C6C6C;
    border-radius: 20px;;
}

.page:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    scale: 1.1;
}

.pageNav {
    font-family: "CircularStd-Medium";
    font-size: 16px;
    color: #6C6C6C;
    padding: 2px;
    width: 24px;
    text-align: center;
}

.pageNav:hover {
    cursor: pointer;
    color: white;
    scale: 1.1;
}

.pageCurr {
    color: white;
    padding: 2px;
}

.paginationCt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    padding: 25px;
}