.card {
    background-color: #121212;
    border-radius: 10px;
    padding: 12.5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 12.5vw;
    font-family: "CircularStd-Light";
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.card:hover {
    background-color: #1a1a1a;
    scale: 1.05;
    transition: 0.2s;
}

.card:active {
    background-color: #000;
}

.cardImage {
    width: 11.5vw;
    height: 11.5vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.songTitle {
    font-family: "CircularStd-Bold";
    font-size: 16px;
    margin-bottom: 5px;
}

.singer {
    margin-bottom: 2.5px;
}

.dateGenre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.link, .link:focus, .link:hover, .link:visited, .link:link, .link:active {
    text-decoration: none;
    color: #B3B3B3;
}

.deleteBt {
    /* border: 2px solid rgb(151, 0, 0); */
    padding: 10px 0px;
    margin-top: 2vh;
    background-color: transparent;
    width: 100%;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, red 50%);
    -webkit-transition: background-position 1s ease;
    -moz-transition: background-position 1s ease;
    transition: background-position 1s;
}

.deleteBt:hover {
    background-position: 100% 0;
}