.onetone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.onetoneImg {
    display: block;
    border-radius: 50%;
    width: 12.5vw;
    height: 12.5vw;
    margin-bottom: 2vh;
    cursor: pointer;
}

.onetoneOverlay {
    --artist_pic: ;

    background: #1ED760;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4) 50%, rgba(30, 215, 96, 0.4) 80%), var(--artist_pic);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    border-radius: 50%;
    width: 12.5vw;
    height: 12.5vw;
    margin-bottom: 2vh;
    cursor: pointer;
}

.onetoneText {
    font-family: "Circular Std-Book";
    font-size: 16px;
}