.indexCt {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  animation: fadeOut 3s forwards;
}

.bigText img {
  width: 80vw;
}

.redirect {
  color: black;
  font-family: "CircularStd-Black";
  font-size: 16px;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}