:root {
  font-family: Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  cursor: pointer;
}

/* Fonts */
@font-face {
  font-family: "CircularStd-Black";
  src: url("/CircularStd-Black.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-BlackItalic";
  src: url("/CircularStd-BlackItalic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-Bold";
  src: url("/CircularStd-Bold.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-BoldItalic";
  src: url("/CircularStd-BoldItalic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-Book";
  src: url("/CircularStd-Book.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-BookItalic";
  src: url("/CircularStd-BookItalic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-LightItalic";
  src: url("/CircularStd-Light Italic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-Light";
  src: url("/CircularStd-Light.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-MediumItalic";
  src: url("/CircularStd-MediumItalic.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CircularStd-Medium";
  src: url("/CircularStd-Medium.otf");
  font-style: normal;
  font-display: swap;
}