body {
    background-color: black;
    background-image: linear-gradient(135deg, rgba(58, 13, 58, 1) 0.5%, rgba(0,0,0, 0.8) 95.53%);
    background-attachment: fixed;
    width: 100vw;
}

.prompt {
    font-family: "CircularStd-Bold";
    font-size: 32px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    width: 100%;
}

.homeCt {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 25px;
}

.navSearch {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 340px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 20px auto;
}

.navSearch input {
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-family: "CircularStd-Light";
    text-align: left;
    color: white;
    width: 85%;
}

.navSearch input:focus {
    outline: none;
}

.navSearchIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 3px;
}

.paginationWrapper {
    margin: 0 auto;
}

.doneBt {
    width: 124px;
    height: 48px;
    background: #1ED760;
    letter-spacing: 1px;
    border: none;
    border-radius: 25px;
    font-family: "CircularStd-Black";
    font-size: 14px;
    color: black;
    margin: 0 auto;
}

.doneBt:hover {
    cursor: pointer;
    outline: 2px solid #1ED760;
}