.navCt {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    overflow: hidden;
}

.navLeft {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 10vw;
}

.navLogo {
    width: 131px;
    height: 40px;
}
.navLogo:hover {
    cursor: pointer;
}

.navSearch {
    background-color: white;
    border: 1px solid #6c6c6c;
    border-radius: 25px;
    width: 340px;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navSearch input {
    border: none;
    font-size: 14px;
    font-family: "CircularStd-Light";
    text-align: left;
    color: #888888;
    width: 85%;
}

.navSearch input:focus {
    outline: none;
}

.navSearchIcon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.navRight {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    color: #B3B3B3;
    column-gap: 20px;
}

.navItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5px;
    border-radius: 25px;
    padding: 5px;
}

.navItems:hover {
    background-color: #535353;
    cursor: pointer;
}

.navIcon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.navText {
    font-family: "CircularStd-Black";
    font-size: 14px;
}

.navCollapse {
    float: right;
    overflow: hidden;
}

.navCollapse, .navItems {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navCollapse {
    margin-right: 20px;
}

.navDrop {
    font-family: "CircularStd-Medium";
    display: none;
    position: absolute;
    background-color: black;
    outline: 5px solid black;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255,0.2);
    z-index: 1;

    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.navDrop:hover {
    background-color: #282828;
    display: block;
    cursor: pointer;
}

.navCollapse:hover .navDrop {
    display: block;
}

.navChild:hover {
    cursor: pointer;
}

.link, .link:focus, .link:hover, .link:visited, .link:link, .link:active {
    text-decoration: none;
    color: #B3B3B3;
}